body{
    direction: ltr;
}
.card{
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px #bed0f7;
    border-color: #eee;
}
.card-header{
    background-color: #f4f5fb;
    border-color: #eee;
    color: #5857c1;
}
.card-body{
    height: 500px;
    overflow-y: auto;
}
.message{
    display: flex;
}
.message .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.message .message-content{
    margin-left: 25px;
}
.message .message-content .message-text{
    box-shadow: 0 0 5px 0 #c5c5f7;
    border-radius: 3px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.message .message-content .message-text h6{
    border-bottom: 1px solid #eee;
    padding: 15px 15px 5px;
    margin-bottom: 5px;
    position: relative;
}
.message .message-content .message-text h6::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -24px;
    border: 12px solid;
    border-color: transparent #c5c5f7 transparent transparent;
}
.message .message-content .message-text p{
    padding: 0 15px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #6060f5;
}
.message .message-content h6.text-muted{
    font-size: 12px;
}
.reverse-message{
    flex-direction: row-reverse;
}
.reverse-message .message-content{
    text-align: right;
    margin-left: 0;
    margin-right: 25px;
}
.reverse-message .message-content .message-text h6::before{
    left: auto;
    right: -24px;
    border-color: transparent transparent transparent #c5c5f7;
}
.card-footer{
    background-color: #fff;
    border-color: #eee;
    padding: 1.25rem;
}
input.form-control{
    background-color: #f4f5fb;
    border-color: #b0b0f7;
    font-size: 14px;
    color: #6060f5;
    font-weight: 500;
    height: 100%;
}
input.form-control::placeholder{
    color: #6060f5;
}
input.form-control:focus{
    box-shadow: 0 0 5px 0 #b0b0f7;
    color: #6060f5;
}
.submit-message{
    display: flex;
}
.submit-message label{
    margin-bottom: 0;
}
.submit-message .btn{
    margin-right: 10px;
    font-size: 21px;
    border: 1px solid #b0b0f7;
    background-color: #f4f5fb;
    color: #5857c1;
}
.submit-message .btn:hover{
    background-color: #5857c1;
    color: #f4f5fb;
}
.submit-message .btn:hover a.btna{
    color: #f4f5fb;
}
a.btna{
    /* border: 1px solid #b0b0f7; */
    /* background-color: #f4f5fb; */
    color: #5857c1;
}
/* .btna:hover{
    background-color: #5857c1;
    color: #f4f5fb;
} */

.submit-message .form-control-file{
    display: none;
}

@media(max-width: 576px){
    .submit-message .btn{
        padding: 6px;
        font-size: 16px;
    }
}